<!-- banner -->
<div class="row m-0">
  <div class="col-md-12 p-0">
    <div class="top-banner-div">
      <img class="about-banner-img" src="../../../assets/images/About-Us/BG3@2x.jpg" alt="no images" />
    </div>
    <div class="back-btn-div">
      <a class="back-anchor" routerLink="/home"><img class="back-button" src="../../../assets/images/arrow.png" alt=""></a>
    </div>
  </div>
</div>

<!-- about-us -->
<div class="row m-0">
  <div class="col-md-6">
    <div class="aboutus-group">
      <h1 class="aboutus-head">About Us</h1>
      <img style="width:220px" src="../../../assets/images/About-Us/Image-4.png" alt="no images" />
      <p class="aboutus-para">Founded in 2017, Chakravuyha Technology is a global services company
        providing technology, business process management and consulting services like Information
        Technology, Blockchain Technology, Business Outsourcing, Digital currency Exchange Software, Security
        Services, DevOps Solutions, Mobile Applications, Chakravuyha’s AgroTech and Organic Farming. We
        have a verified path record of serving our clients categorize and provide important extremity
        line enhancements using our experts in Technology services. Our exclusive business meeting model
        is purpose-built to compromise our client partners with best-in-class facility through committed
        funds such as people, technology, infrastructure and top management support.
      </p>

    </div>
  </div>
  <div class="col-md-6 ">
    <div class="aboutus-img-div">
      <img class="aboutus-img" src="../../../assets/images/About-Us/HAND@2x.png" alt="no images" />
    </div>
  </div>
</div>
<!-- Our Unique Business Model -->
<div class="business-module">
  <div class="row m-0">
    <div class="col-md-12">
      <div class="row  justify-content-center m-0">
        <div class="col-md-8">
          <div class="unique-group">
            <h3 class="unique-head">Our Unique <span class="unique-span"> Business Model</span> </h3>
            <div class="unique-image">
              <img src="../../../assets/images/About-Us/Group-87.png" alt="no images">
            </div>
            <p class="unique-para">Chakravuyha services to produce an effective extension of our
              client’s
              initiative
              with an optional framework which is simple, elastic and resistant. Chakravuyha
              facilitates
              its
              customers to spread existing abilities and value-added services by providing global
              access
              to funds
              and diverse skill set, counting best practices in multiple developments and technology
              domains. Our
              services are aimed to aid businesses to increase their operative productivity,
              performance
              and ease
              costs.</p>
          </div>
        </div>
      </div>
      <!-- <div class="challenges-div">

                    <h3 class="challenges-head">“Transforming challenges into opportunities have been the hallmark of
                        the Chakravuyha.”</h3>

                </div> -->

      <!-- mission -->
      <div class="mission">
        <div class="row">
          <div class="col-md-6">
            <h1 class="mission-header">
              Mission and Vision
            </h1>
            <ul class="crpto-software-grp">
              <li class="arrow-mission"><i class="fas fa-arrow-right"></i></li>
              <li>
                <p class="mission-content">We are growing markets motivated and dedicated around the
                  product life cycle
                  of technology - focused companies. From innovation to commercialization, we
                  endeavor to build convergent solutions that support our clients develop
                  their business and recognize their market vision</p>
              </li>
            </ul>

            <ul class="crpto-software-grp">
              <li class="arrow-mission"><i class="fas fa-arrow-right"></i></li>
              <li>
                <p class="mission-content">We have found ourselves in
                  providing end-to-end resolutions and services in the capacities of
                  information technology, consulting and outsourcing in several sections of
                  industry like marketing, education, finance, healthcare, life science,
                  hotel/hospitality, media and entertainment, mobile, and wireless, retail,
                  real estate, technology and more.</p>
              </li>

            </ul>
            <ul class="crpto-software-grp">
              <li class="arrow-mission"><i class="fas fa-arrow-right"></i></li>
              <li>
                <p class="mission-content">Our team of brilliant, active and young
                  experts at Chakravuyha is proficient of providing extraordinary and quality
                  solutions to our clients with the precise combination of technology, domain
                  knowledge and active approach</p>
              </li>

            </ul>
            <ul class="crpto-software-grp">
              <li class="arrow-mission"><i class="fas fa-arrow-right"></i></li>
              <li>
                <p class="mission-content">Chakravuyha often embrace and master new
                  information technologies, social learning, development and training tools to
                  deliver added value to our customers.</p>
              </li>

            </ul>
            <ul class="crpto-software-grp">
              <li class="arrow-mission"><i class="fas fa-arrow-right"></i></li>
              <li>
                <p class="mission-content">Over a period of numerous years we
                  have learned experience in concluding thousands of projects into diverse
                  domain and have supplied operational solutions which address the essentials
                  of our clients. Chakravuyha has constructed a huge database of data what
                  qualifies us to deliver cost-effective and practical solutions to our
                  clients across the world.</p>
              </li>

            </ul>
          </div>
          <div class="col-md-6">
            <div class="challenges-div">
              <img class="background-challenge" src="../../../assets/images/About-Us/BG52.png" alt="" />
            </div>
          </div>
        </div>
      </div>







      <!-- mission-imp -->
    </div>
  </div>
</div>


<div class="row  justify-content-center m-0">
  <div class="col-md-8">
    <div class="aboutus-content">
      <p class="persistently-para">Persistently changing technology environment, focused execution
        means the
        capacity to
        perceive and react rapidly to changing business conditions. Linking the skill in the
        invention, and
        knowledge of expanding business arrays, Chakravuyha delivers a scope of advanced
        programming skill
        set which integrates e-business arrangements, PC communication, enterprise applications,
        skilled web
        composition and its upgrading with comprised of a dedicated core team that is young,
        passionate and
        active, we at Chakravuyha resolute to offer unparalleled services in web application
        development,
        website development, mobile or cell phone application development, and digital
        promotion.
      </p>
      <p class="persistently-para">
        Chakravuyha services groups to accomplish organizational revolution through operational
        and tactical
        initiatives. Over a span of numerous years Chakravuyha has learned know-how in finishing
        thousands
        of projects into various domains and have supplied active solutions which address the
        requirements
        of our clients. Chakravuyha has built a huge database of knowledge which assists us to
        deliver
        cost-effective and achievable solutions to our clients across the world.</p>
    </div>


  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="blockchain-service">
        <h3 class="blockchain-head">With the expert team at Chakravuyha, we can execute those
          chores which
          are
          nearly next to incredible</h3>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="blockchain-content">
        <ul class="blockchain-underline">

          <li>

            <p class="blockchain-para">

              <span class="blockchain-span">Blockchain Service:</span> which comprises
              Blockchain
              Consulting,
              Blockchain IoT Development, Blockchain
              application.
            </p>
          </li>
          <li>
            <p class="blockchain-para">

              <span class="blockchain-span"> Virtual Currency:</span> with Token
              Development and
              Exchange
            </p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span"> Marketing Service:</span> comprehensive
              of Listing Services, Market making for the coin and Token PR Services.</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span">Regular IT Services :</span>Such as
              Product development of any complexity, Web-Development service and its
              maintenance,
              App-development
              for any OS (Android or Ios)</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span"> Web Application Development:</span>
              Chakravuyha designs
              exceptional adapted web
              applications which are well-matched for your business. Let your creation
              shine online
              with the
              right
              apps.</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span"> Mobile Application Development:</span>Do you
              have an
              exclusive
              service to offer? There is an app for
              that..!! Go mobile today and grow your skylines like never before.</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span">Website Design and Development:</span> For
              your online
              business,
              we build exceptional, attractive and immersive websites to send your
              message globally.</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span"> Digital Marketing:</span> Social media is the
              place for
              marketing
              in today’s technology
              world. Chakravuyha deals cutting edge digital marketing solutions for your
              business.</p>
          </li>
          <li>
            <p class="blockchain-para">
              <span class="blockchain-span">Chakravuyha AgroTech Services:</span> one of
              the eminent
              business
              organizations involved in manufacturing, delivering
              and exporting planting material. Further to these, we hold proficiency in
              proposing
              plantation
              and
              consultancy services to our clients. Through their collaborative efforts, a
              mobile-based
              Agricultural Marketplace will be developed to initially serve rural farming.
              Appreciated
              for
              their
              endlessness and efficient, the services are required by clients across the
              globe.</p>
          </li>

          <li>
            <p class="blockchain-para">

              <span class="blockchain-span">Organic Farming
                Services:</span> The basic mantra for organic farmers, which is equally
              ethical and
              practical, can be
              summed up thus: to source and practice in finest, non-wasteful method
              locally obtainable
              natural
              resources employing maintainable farming methods
            </p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>