<div class="footer">
  <div class="container">
    <div class="row m-0">
      <div class="col-md-4">
        <div class="va-image-group">
          <img class="va-footer-image" src="./assets/images/Logo_chakravyuha.png" alt="no image" />
          <!-- <h1 class="var-footer-title">VIRTUAL ARENA</h1> -->
        </div>
        <div class="social-icons-section">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/chakravuyha/" target="_blank"><i
                  class="fab fa-facebook-f footer-social-icon-1"></i></a></li>
            <li><a href="https://twitter.com/chakravuyha" target="_blank"><i
                  class="fab fa-twitter footer-social-icon-2"></i></a></li>
            <li><a href="https://www.linkedin.com/company/chakravuyha/" target="_blank"><i
                  class="fab fa-linkedin-in footer-social-icon-3"></i></a></li>
            <li><a href="https://in.pinterest.com/chakravuyha/" target="_blank"><i
                  class="fab fa-pinterest-p footer-social-icon-4"></i></a></li>
            <li><a href="https://www.reddit.com/r/Chakravuyha/new" target="_blank"><i
                  class="fab fa-reddit-alien footer-social-icon-5"></i></a></li>
            <li><a href="https://medium.com/@chakravuyha" target="_blank"><i
                  class="fab fa-medium-m footer-social-icon-6"></i></a></li>
            <li><a href="https://www.instagram.com/chakravuyhatechnologies/" target="_blank"><i
                  class="fab fa-instagram footer-social-icon-7"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <ul class="va-footer-cnt">
          <li class="faq-group-cnt">Service Providers</li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Why Chakravuyha</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Growth Hub</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Sponsorship</a></li>
        </ul>
      </div>
      <div class="col-md">
        <ul class="va-footer-cnt">
          <li class="faq-group-cnt">About Us</li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Company</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Blog</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Press releases</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">Carrer</a></li>
          <li class="address-cnt-footer"><a class="white-paper-cnt">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md">
        <ul class="va-footer-cnt">
          <li class="faq-group-cnt">Contact</li>
          <li class="address-cnt-footer">Need Help?</li>
          <li class="address-cnt-footer">+91 040 - 48575149</li>
          <li class="address-cnt-footer">319, Manjeera Majestic Commercial, JNTU-Road, Kukatpally,
            Hyderabad, Telangana - 500072.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <h1 class="tc-rights">COPYRIGHT @ 2018 | Chakravuyha</h1>
    </div>

  </div>

</div>