<!-- <section class="main-body"> -->
  <!--  header -->
  <header class="header-bg">
    <nav class="navbar">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/images/home/Logo.png" width="190px" alt="No image" />
      </a>
    </nav>
  </header>
<!-- </section> -->
<div id="menuIcon">
  <div id="menuLine"></div>
</div>

<!-- side nav -->
<div id="mainMenu">
  <div id="logo"></div>
  <div class="logo1">
    <a href="">
      <img src="./assets/images/home/Logo.png" alt="logo" />
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="menu-list">
          <li>
            <span class="before-line"></span>
            <a routerLink="/home" class="menu-links close1">Home</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/about-us" class="menu-links close1">About Us</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/blockChain-technology" class="menu-links close1">BlockChain Technology</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/trading-platform" class="menu-links close1">Trading Platform</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/information-technology" class="menu-links close1">Information Technology</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/mobile-application" class="menu-links close1">Mobile Application</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/devops-solutions" class="menu-links close1">Devops solutions</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/business-outsourcing" class="menu-links close1">Business Outsourcing</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/chakravuyha-agrotech" class="menu-links close1">Chakravuyha Agrotech</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/events" class="menu-links close1">Events</a>
          </li>
          <li>
            <span class="before-line"></span>
            <a routerLink="/contact-us" class="menu-links close1">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="close" class="text-center">
    <img src="./assets/images/home/close.png" class="mt-1" alt="no img" />
  </div>

</div>

