<div class="row m-0">
  <div class="col-md-12 p-0">
    <div class="agro-banner">
      <img class="agro-banner-img" src="../../../assets/images/Agro@2x.jpg" alt="no images" />
    </div>
    <div class="back-btn-div">
      <a class="back-anchor" routerLink="/home"><img class="back-button" src="../../../assets/images/arrow.png" alt=""></a>
    </div>
  </div>
</div>

<!-- agro-tech -->
<div class="agrotech">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="agrotech-header">
          CHAKRAVUYHA AGROTECH
        </h1>
        <p class="agrotech-content">
          Chakravuyha Agro is an agritech syndicate comprising of several startups specializing in the
          advances technologies of Distributes Ledger, Big Data and Internet of Things.</p>
        <p class="agrotech-content">
          We, ‘Chakravuyha –
          AgroTech’ is one of the eminent business organizations involved in manufacturing, delivering and
          exporting planting material. Further to these, we hold proficiency in proposing plantation and
          consultancy services to our clients. Through their collaborative efforts, a mobile-based
          Agricultural Marketplace will be developed to initially serve rural farming. Appreciated for
          their
          endlessness and efficient, the services are required by clients across the globe.
        </p>
        <p class="agrotech-content"> The marketplace
          will allow farmers to offer them to produce directly to a food retailer, exporters, and urban
          wholesale food market and restaurant/hotel chains via minimum price auction. This will eliminate
          the
          food processors as a middleman and offer greater financial returns for the farmers.</p>
        <p class="agrotech-content">
          Chakravuyha is
          reinforced by a team of enthusiastic and sincere professionals. The horticulturists confirm that
          the
          seeds and saplings are grownups under hygienic environment, so as to certify that the plants
          harvest
          extreme benefits throughout the applications. Our study and expansion links commence several
          investigation and researches to aid in the development and selection of improved from plants.
        </p>
        <p class="agrotech-content">With
          Chakravuyha’s translucent business strategies and faithfulness to an ethical framework, we have
          reserved the trust of our esteemed clients.</p>

        <p class="agrotech-content">Earlier this was not conceivable because the non-bank
          food purchasers could only offer credit terms unaccepted to farmers and food processors were
          relied
          upon for quality control.</p>


      </div>
    </div>
  </div>
</div>

<div class="globle-market">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="globle-market-header">
          Global Market Size and Revenue Model
        </h1>
        <ul class="market-revenue">
          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> Worldwide Smart Agriculture market size and Forecast 2015 -2024.
            </p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> Global Smart Agriculture market size and Forecast is around
              16.2%CAGR
            </p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content">Global Agriculture the Drone market, 585 million in the year of
              2018
            </p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> Global Agriculture Drone Market, 1,236 million in the year of
              2023
            </p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> Increased global crop yields up to 67 % by using agricultural
              technologies.
            </p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> IoT placement in agriculture can address many tasks and grows
              the quality, quantity, and cost-effectiveness of agricultural production
            </p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="market-revenue-grp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="globle-market-header">
          Agriculture Industry
        </h1>
        <p class="revenue-amount">30 billion U.S. dollars by 2023</p>
        <ul class="market-revenue">
          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content">The total worth of the agriculture sector worldwide in 2014 was
              $3,546 billion. Associated to
              domain citizens of more than 7 billion in 2014 this equates to about $507 per person per
              annum.
              Given that world domestic product was approximately $78 trillion in 2014; the market
              makes up
              about 4.5% of the entire global economy which is significantly huge.</p>
          </li>

          <li><span class="arrow-flex"> <i class="fas fa-arrow-right"></i></span></li>
          <li>
            <p class="revenue-content"> The ever-growing the global
              population would touch around 9.6 billion by 2050. So, to feed this immense population,
              the
              agriculture industries would boom up as well. The usage of loT and items like sensors,
              autonomous vehicles, automated hardware, control systems, robotics, etc. in this
              approach are
              going to be the key components in this sector which is going to overcome the current
              challenges
              the industry is facing with besides making more accurate farming procedures.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="sale-rate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="distress-sale">
          <h1 class="different-sales">
            Distress Sale
          </h1>
          <p class="sale-content">
            Most of the Indian farmers are very poor and thus have no capacity to wait for better price
            of his produce in the absence of proper credit facilities.
          </p>
        </div>
        <div class="distress-sale">
          <h1 class="different-sales">
            Lack of Transportation
          </h1>
          <p class="sale-content">
            Most of the Indian farmers are very poor and thus have no capacity to wait for better price
            of his produce in the absence of proper credit facilities.
          </p>
        </div>
        <div class="distress-sale">
          <h1 class="different-sales">
            Lack of Storage Facility
          </h1>
          <p class="sale-content">
            There is no proper storage or warehousing facilities for farmers in the villages where they
            can store their agriculture produce and thus, every year 15-30% gets damaged either by rats
            or rains and the farmers are then forced to sell their surplus produce just after harvests
            at a very low and un-remunerative price.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>