<!-- Introduction -->
<section class="main-body">
    <!--  header -->
    <!-- <header class="header-bg">
        <nav class="navbar fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/home/Logo.png" width="190px" alt="No image" />
            </a>
        </nav>
    </header> -->


    <div class="owl-carousel owl-theme" id="testimonials">

        <div class="item">
            <div class="home-box slide1">
                <p class="home-heading">
                    BLOCKCHAIN
                    <!-- <br/> -->
                    TECHNOLOGY
                </p>
            </div>
        </div>

        <div class="item">
            <div class="home-box slide2">
                <p class="home-heading">
                    Trading Platform
                    <br />
                    <!-- Software -->
                </p>
            </div>
        </div>

        <div class="item">
            <div class="home-box slide3">
                <p class="home-heading">
                    INFORMATION TECHNOLOGY
                    <!-- <br/>
                        OUTSOURCING -->
                </p>
            </div>
        </div>

        <div class="item">
            <div class="home-box slide4">
                <p class="home-heading">
                    MOBILE
                    <br />
                    APPLICATION
                </p>
            </div>
        </div>

        <div class="item">
            <div class="home-box slide5">
                <p class="home-heading">
                    Devops
                    <br />
                    Solutions
                </p>
            </div>
        </div>

        <div class="item">
            <div class="home-box slide6">
                <p class="home-heading">
                    BUSINESS
                    <br />
                    OUTSOURCING
                </p>
            </div>
        </div>


    </div>


</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="about-bg" />
                    <h2 class="about-title">About us</h2>
                    <hr class="w-50" />
                    <h5 class="about-subtitle">WE MAKE TECHNOLOGY MORE BOLDER</h5>
                    <p class="about-content">
                        To achieve Excellence in every sector that we operate in.
                        To augment our core competencies and adopt the most comprehensive modern
                        technology to overtake the obstacles in our path of achievement
                    </p>
                    <a routerLink="/about-us"><button class="about-btn">Read More</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Services -->
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="service-title">Our Services</h1>
                <hr class="service-hr" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-6.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">BlockChain Technology</h2>
                    <hr />
                    <p class="service-content">
                        Phase into the forthcoming of circulated archive technology and determine the limitless
                        potentials

                    </p>
                    <a routerLink="/blockChain-technology"><button class="service-btn">Read More</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-5.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">Trading Platform</h2>
                    <hr />
                    <p class="service-content">
                        Cryptocurrency exchange trading software is custom-made and accessible it is formed by the
                        skilled
                    </p>
                    <a routerLink="/trading-platform"><button class="service-btn">Read More</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-4.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">Information Technology</h2>
                    <hr />
                    <p class="service-content">
                        Companies required technology association which energize their approach, not shamble it.
                        Chakravuyha
                    </p>
                    <a routerLink="/information-technology"><button class="service-btn">Read More</button></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-3.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">Mobile Application</h2>
                    <hr />
                    <p class="service-content">
                        Since the origin, mobile devices and apps are reforming the techniques of our lives and
                        varying the
                    </p>
                    <a routerLink="/mobile-application"><button class="service-btn">Read More</button></a>
                </div>
            </div>


            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-2.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">Devops solutions</h2>
                    <hr />
                    <p class="service-content">
                        Chakravuyha, the keen data testing solution which programs data authentication and testing
                        of
                        critical
                    </p>
                    <a routerLink="/devops-solutions"><button class="service-btn">Read More</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <img src="../../../assets/images/home/plus.png" alt="no img" class="service-bg" />
                    <img src="../../../assets/images/home/icon-1.png" alt="no img" class="service-icon" />
                    <h2 class="service-title">Business Outsourcing</h2>
                    <hr />
                    <p class="service-content">
                        Business Outsourcing Services is a complete
                        stack software development company containing skilled and
                    </p>
                    <a routerLink="/business-outsourcing"><button class="service-btn">Read More</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Info -->
<section class="info">
    <div class="row justify-content-center m-0">
        <div class="col-md-12 p-0">
            <div class="w-100 position-relative">
                <!-- <img src="./assets/images/home/Agro.png" class="w-100" alt="no img"/> -->
            <div class="info-left info-bg1">
                <div class="info-box">
                    <h2 class="info-title">CHAKRAVUYHA AGROTECH</h2>
                    <hr class="chakravuyh-agro-line">
                    <p class="info-content">
                        Chakravuyha Agro is an agritech syndicate comprising of several startups specializing in the
                        advances technologies of
                        Distributes Ledger, Big Data and Internet of Things.
                    </p>
                    <div class="w-100 text-right">
                        <a routerLink="/chakravuyha-agrotech"><button class="info-btn">Read More</button></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>



<!-- Who we work with -->
<section class="work">
    <img src="../../../assets/images/home/layer1.png" alt="" class="work-img" />
    <h1 class="work-title">Who we work with</h1>
    <!-- <hr class="work-hr" /> -->
    <div class="text-center mb-5 line-image">
        <img src="../../../assets/images/home/Line.png" alt="no img" />
    </div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="owl-carousel owl-theme" id="work">
                    <div class="item">
                        <div class="news-box">
                            <div class="news-img text-center">
                                <img src="../../../assets/images/home/cl.png" alt="no img" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="news-img text-center">
                                <img src="../../../assets/images/home/dnc.png" alt="no img" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="news-img text-center">
                                <img src="../../../assets/images/home/va.png" alt="no img" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="news-img text-center">
                                <img src="../../../assets/images/home/btm.png" alt="no img" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="news-img text-center">
                                <img src="../../../assets/images/home/lmi.png" alt="no img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- Our working structure -->
<section class="structure">
    <img src="../../../assets/images/home/layer2.png" alt="" class="work-img" />
    <h1 class="structure-title">Our working structure</h1>
    <!-- <hr class="structure-hr" /> -->
    <div class="mb-5 line-image text-center">
        <img src="../../../assets/images/home/Line.png" alt="no img" />
    </div>
    <div class="">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="structure-img text-center py-3">
                    <img src="../../../assets/images/home/plan.png" class="w-50" alt="no img" />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Why our clients choose us -->
<section class="news">
    <h1 class="news-title">Why our clients choose us</h1>
    <div class="mb-5 line-image text-center">
        <img src="../../../assets/images/home/Line.png" alt="no img" />
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme" id="new">
                    <div class="item">
                        <div class="news-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="news-img ml-auto">
                                        <img src="../../../assets/images/home/layer3.png" alt="no img" class="news-bg" />
                                        <img src="../../../assets/images/home/img3.jpg" alt="no img" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="new-content">
                                        <p class="news-box-subtitle">
                                            “It's an absolute pleasure working with Chakravuyha software
                                            technologies.
                                            They're an all-star team with the rare combination of flair, expertise
                                            and can-do attitude.
                                            Whatever we are working on together, from sketchiest concept to
                                            trickiest execution,
                                            I have total confidence in their ability to deliver an exceptional
                                            result.”
                                        </p>
                                        <h6 class="news-box-title">Kenny</h6>
                                        <p class="news-box-subtitle">
                                            CEO at HDCOM
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="news-img ml-auto">
                                        <img src="../../../assets/images/home/layer3.png" alt="no img" class="news-bg" />
                                        <img src="../../../assets/images/home/img3.jpg" alt="no img" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="new-content">
                                        <p class="news-box-subtitle">
                                            “It's an absolute pleasure working with Chakravuyha software
                                            technologies.
                                            They're an all-star team with the rare combination of flair, expertise
                                            and can-do attitude.
                                            Whatever we are working on together, from sketchiest concept to
                                            trickiest execution,
                                            I have total confidence in their ability to deliver an exceptional
                                            result.”
                                        </p>
                                        <h6 class="news-box-title">Kenny</h6>
                                        <p class="news-box-subtitle">
                                            CEO at HDCOM
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="news-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="news-img ml-auto">
                                        <img src="../../../assets/images/home/layer3.png" alt="no img" class="news-bg" />
                                        <img src="../../../assets/images/home/img3.jpg" alt="no img" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="new-content">
                                        <p class="news-box-subtitle">
                                            “It's an absolute pleasure working with Chakravuyha software
                                            technologies.
                                            They're an all-star team with the rare combination of flair, expertise
                                            and can-do attitude.
                                            Whatever we are working on together, from sketchiest concept to
                                            trickiest execution,
                                            I have total confidence in their ability to deliver an exceptional
                                            result.”
                                        </p>
                                        <h6 class="news-box-title">Kenny</h6>
                                        <p class="news-box-subtitle">
                                            CEO at HDCOM
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our working structure -->
<section class="locations">
    <h1 class="locations-title">Our Locations</h1>
    <!-- <hr class="locations-hr" /> -->
    <div class="text-center mb-md-5 line-image">
        <img src="../../../assets/images/home/Line.png" alt="no img" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="locations-img w-100 pt-md-4 text-center">
                    <img src="../../../assets/images/home/Map.png" class="w-75" alt="no img" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT US -->
<section class="contact-us index-contact">
    <div class="container">
        <div class="contact-form">
            <hr class="contact-hr" />
            <p class="contact-content index-content mb-5">Connect with us to know how we can transform your business
                with our
                future proof solutions</p>
            <form>
                <div class="row">
                    <div class="col-sm">
                        <h6 class="contact-title index-contact-title">WORK WITH US</h6>
                        <hr />
                        <div class="contact-form-group">
                            <input type="text" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label index-contact-inp">Name</label>
                        </div>
                        <div class="contact-form-group">
                            <input type="email" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label index-contact-inp">Email</label>
                        </div>
                        <div class="contact-form-group">
                            <input type="text" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label  index-contact-inp">Service</label>
                        </div>
                        <!-- <button class="contact-btn" type="submit">Submit</button> -->
                        <!-- </div> -->
                    </div>
                    <!-- <div class="col-sm">
                        <h6 class="contact-title index-contact-title">Get a Quote</h6>
                        <hr />
                        <div class="contact-form-group">
                            <input type="text" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label  index-contact-inp">Title</label>
                        </div>
                        <div class="contact-form-group">
                            <input type="tel" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label  index-contact-inp">Phone Number</label>
                        </div>
                        <div class="contact-form-group">
                            <input type="number" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label  index-contact-inp">Budget</label>
                        </div>
                    </div> -->
                    <!-- <div class="col-sm">
                        <h6 class="contact-title index-contact-title">Be a Partner</h6>
                        <hr />
                        <div class="contact-form-group">
                            <input type="text" class="contact-input index-cnt-input" name="" required="">
                            <label for="" class="contact-label  index-contact-inp contact-input1">Company Name</label>
                        </div>
                    </div> -->
                </div>

                <div class="contact-form-group">
                    <textarea class="contact-input contact-input1" rows="4" placeholder="Details"></textarea>
                    <!-- <label for="" class="contact-label">Your Message</label> -->
                </div>
                <button class="contact-btn" type="submit">Submit</button>
            </form>

        </div>
    </div>
</section>