<div class="row m-0">
  <div class="col-md-12 p-0">
    <div class="top-banner-div">
      <img class="about-banner-img" src="../../../assets/images/contact-us-banner.jpg" alt="no images" />
    </div>
    <div class="back-btn-div">
      <a class="back-anchor" routerLink="/home"><img class="back-button" src="../../../assets/images/arrow.png" alt=""></a>
    </div>
  </div>
</div>

<!-- contact-us -->

<section class="contact-us1">
  <div class="container">
    <!-- <div class="row">
                    <div class="col-sm">
                        <hr />
                        <p class="contact-content">Connect with us to know how we can transform your business with our
                            future proof solutions</p>
                    </div>
                </div> -->
    <div class="contact-form1">
      <div class="title-contact1">
        <h1 class="contact-us-title1">Contact Us</h1>
      </div>
      <hr class="contact-hr1" />
      <p class="contact-content1 mb-5">Connect with us to know how we can transform your business with our
        future proof solutions</p>
      <form>
        <div class="row">
          <div class="col-sm">
            <h6 class="contact-title1">WORK WITH US</h6>
            <hr />
            <div class="contact-form-group1">
              <input type="text" class="contact-input1" name="" required="">
              <label for="" class="contact-label1">Name</label>
            </div>
            <div class="contact-form-group1">
              <input type="email" class="contact-input1" name="" required="">
              <label for="" class="contact-label1">Email</label>
            </div>
            <div class="contact-form-group1">
              <input type="text" class="contact-input1 " name="" required="">
              <label for="" class="contact-label1">Service</label>
            </div>
            <!-- <button class="contact-btn" type="submit">Submit</button> -->
            <!-- </div> -->
          </div>
          <!-- <div class="col-sm">
            <h6 class="contact-title">Get a Quote</h6>
            <hr />
            <div class="contact-form-group">
              <input type="text" class="contact-input" name="" required="">
              <label for="" class="contact-label">Title</label>
            </div>
            <div class="contact-form-group">
              <input type="tel" class="contact-input" name="" required="">
              <label for="" class="contact-label">Phone Number</label>
            </div>
            <div class="contact-form-group">
              <input type="number" class="contact-input" name="" required="">
              <label for="" class="contact-label">Budget</label>
            </div>
          </div> -->
          <!-- <div class="col-sm">
            <h6 class="contact-title">Be a Partner</h6>
            <hr />
            <div class="contact-form-group">
              <input type="text" class="contact-input" name="" required="">
              <label for="" class="contact-label">Company Name</label>
            </div>
          </div> -->
        </div>

        <div class="contact-form-group1">
          <textarea class="contact-input1" rows="4" placeholder="Details"></textarea>
          <!-- <label for="" class="contact-label">Your Message</label> -->
        </div>
        <button class="contact-btn" type="submit">Submit</button>
      </form>

    </div>
  </div>
</section>