<!-- banner -->
<div class="row m-0">
  <div class="col-md-12 p-0">
    <div class="top-banner-div">
      <img class="about-banner-img" src="../../../assets/images/ceo img/Devops.jpg" alt="no images" />
    </div>
    <div class="back-btn-div">
      <a class="back-anchor" routerLink="/home"><img class="back-button" src="../../../assets/images/arrow.png" alt=""></a>
    </div>
  </div>
</div>
<div class="company-clients">
  <div class="container">
    <div class="row m-0">
      <div class="col-md-7">
        <div class="our-story">
          <a href="https://icobench.com/u/sai-teja" target="_blank"><img class="ourstory-img"
              src="../../../assets/images/ceo img/Storiesimage1.png" alt="no images" /></a>
          <div class="cst-ceo">
            <h1 class="cio-review">
              Sai Teja
            </h1>
            <p class="cio-content">
              Co-Founder & Chairman of Launch My ICO | Crypto Evangelist
            </p>
            <a class="cio-website" href="https://icobench.com/u/sai-teja"
              target="_blank">https://icobench.com/u/sai-teja</a>

          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="cst-story">
          <a href="https://blockchain-technology.cioreviewindia.com/vendor/2018/chakravuyha_technologies"><img
              class="cststory-img" src="../../../assets/images/ceo img/image2.png" alt="no images" /></a>
          <div class="cst-content">
            <h1 class="cio-review">
              CIOReview India Magazine
            </h1>
            <a class="cio-website"
              href="https://blockchain-technology.cioreviewindia.com/vendor/2018/chakravuyha_technologies">https://blockchain-technology.cioreviewindia.com</a>
            <p class="cio-content">
              "Chakravuyha: Solidifying the Foundations of Data Availability and Transparency in
              Blockchain Applications"
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-7">
        <div class="our-story">
          <a href="https://icorating.com/people/sai-teja-8715/" target="_blank"><img class="participated-img"
              src="../../../assets/images/ceo img/Storiesimage3.png" alt="no images" /></a>
          <div class="cst-ceo">
            <h1 class="cio-review">
              ICO Rating Articles
            </h1>
            <a class="cio-website" href="https://icorating.com/people/sai-teja-8715/"
              target="_blank">https://icorating.com/people/sai-teja-8715/</a>

          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="our-story">
          <a href="https://businessmirror.com.ph/2017/10/23/coinlancer-launched-50-million-ico/" target="_blank"><img
              class="participated-img" src="../../../assets/images/ceo img/Storiesimage4.png" alt="no images" /></a>
          <div class="cst-ceo">
            <h1 class="cio-review">
              Business Mirror
            </h1>
            <a class="cio-website" href="https://businessmirror.com.ph/2017/10/23/coinlancer-launched-50-million-ico/"
              target="_blank">https://businessmirror.com.ph/2017/10/23/coinlancer-launched-50-million-ico/</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>